body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #3498db; /* Azul claro */
    color: white;
}

.logo img {
    height: 50px;
}

.login-container {
    background-color: #2980b9; /* Azul oscuro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #3498db; /* Borde azul claro */
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #217dbb; /* Azul más oscuro al pasar el mouse */
}

.forgot-password,
.or,
.create-account {
    margin-top: 15px;
}

.forgot-password a,
.create-account a {
    color: #ecf0f1; /* Blanco */
    text-decoration: none;
}

.forgot-password a:hover,
.create-account a:hover {
    text-decoration: underline;
}

.or p {
    margin: 0;
}
